__pycache__/
*.py[cod]
.Rhistory
.RData
.Rproj.user/
.env
*.h5ad
*.h5
*.rds
*.RDS
*.loom
*.mtx
*.gz
data/raw/*
!data/raw/README.md
data/processed/*
!data/processed/README.md
results/objects/*
!results/objects/README.md
